@media (max-width: 1200px) {
    .about {
        img#man {
            bottom: -100px;
        }
    }
    
    .products {
        &__info-btn {
            width: 100%;
        }
    }
}

@media (max-width: 900px) {    
    .products {
        &__cards {
            flex-wrap: wrap;
            gap: 4rem;
        }
        &__title {
            margin-bottom: 3rem;
        }
    }
    .about {
        &__info {
            width: 100vw;
        }
    }
    .footer {
        &__socials {
            margin-top: 1rem;
        }
    }
}

@media (max-width: 900px) {
    header {
        align-items: start;

        .navlist {
            display: block;
            li {
                margin-top: 1.5rem;
            }
        }
    }

    .about {
        &__info {
            left: 0;
            padding: 1rem;
        }
    }

    .footer {
        text-align: center;
        .logo {
            font-size: 3rem;
        }
        &__socials {
            margin: 0 auto;
            margin-top: 2rem;
            max-width: 240px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}